/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
.toptitle{
  text-align: center;
  margin-bottom: 50px;
}
h1{
  border: solid 10px palevioletred;
  font-size: 2.5em;
}
.tyui{
  width: 52%;
  margin-left: 80px;
}
.tyui h2{
  border-bottom: solid 5px pink;
}
.tyui p{
  padding-top: 10px;
  padding-bottom: 30px
}
.mokuzi{
  width: 160px;
  margin-left: 80px;
}
.mokuzi h2{
  border-bottom: solid 5px pink;
  font-size: 25px
}
.zyuni{
}
a{
  display: block;
}
.mokuzileft{
  float: left;
  padding: 10px;
}
.mokuziright{
  padding: 10px;
}
.ranking{
  margin-left: 80px;
}
.di15{
  clear: both;
  margin-top: 40px;
}
.sabutitle{
} 
.sabutitle h2{
  border-bottom: solid 5px pink;
  width: 80%;
  font-size: 2em
}
.sabutitle h3{
  margin-bottom: 10px;
}
.sabutitle p{
  margin-bottom: 10px;
}
.dougasetumei{
}
.douga{
  float: left;
  margin-bottom: 30px;
}
.setumei{
  width: 80%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.setumei h3{
  font-size: 1.5em
}
.setumei p{
  margin-top: 20px
}
img{
  display: block;
}
.di14{
  clear: both;
}
.genkyoku{
  clear: both;
}
.genkyoku h2{
  border-bottom: solid 5px pink;
  width: 80%;
  margin-bottom: 10px;
}
.iframe{
  margin-bottom: 30px;
}
.di13{
  clear: both;
  margin-top: 20px;
}
.di12{
  clear: both;
  margin-top: 20px;
}
.di11{
  clear: both;
  margin-top: 20px;
}
.di10{
  clear: both;
  margin-top: 20px;
}
.di9{
  clear: both;
  margin-top: 20px;
}
.di8{
  clear: both;
  margin-top: 20px;
}
.di7{
  clear: both;
  margin-top: 20px;
}
.di6{
  clear: both;
  margin-top: 20px;
}
.di5{
  clear: both;
  margin-top: 20px;
}
.di4{
  clear: both;
  margin-top: 10px;
}
.di3{
  clear: both;
  margin-top: 20px;
}
.di2{
  clear: both;
  margin-top: 20px;
}
.di1{
  clear: both;
  margin-top: 10px;
}
